<div class="container px-5 px-sm-0">
  <div class="mx-auto col-12 col-sm-10 col-lg-8 col-xl-6">
      <h2>保存レシピ一覧</h2>
      <div class="row">
        <% @favorites.each do |favorite| %>
        <div class="col-3">
          <table>
              <tr>
                <td>
                  <!--recipeイメージ-->
                  <%= link_to recipe_path(favorite.recipe.id) do %>
                    <%= image_tag favorite.recipe.image, size: "100x100" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <!--recipe名-->
                <td><%= link_to favorite.recipe.recipe_name, recipe_path(favorite.recipe.id) %></td>
              </tr>
            </div>
          </table>
          </div>
        <% end %>

      </div>
      <%= link_to "レシピを新規登録", new_recipe_path %>

      <p><%#= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %></p>

    </div>

  <%#= paginate @recipes %>

  </div>
</div>