<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-2">
      <table class="table table-hover table-inverse">
        <tr>
          <th>カテゴリー検索</th>
        </tr>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= link_to genre.genre_name, recipe_genre_search_path(genre_id: genre) %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="mx-auto col-12 col-sm-10 col-lg-8 col-xl-6">
      
      <h2>レシピ一覧</h2>
      <%= link_to "レシピを新規登録", new_recipe_path, class: "btn btn-warning" %>
      <div class="row">
        
        
        <!--recipe一覧部分テンプレート-->
        <%= render 'list', recipes: @recipes %>
        
      </div>
      

    </div>


  </div>
</div>

