

<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <h1>About</h1>
      <p>hikuchikaは低血圧の改善を目標にした、レシピのコミュニティサイトです。</p>
      <p>低血圧改善には以下の3つが大切と言われています。</p>
      <p>・水分補給</p>
      <p>・早寝早起き</p>
      <p>・栄養のある食事</p>
      <p>3つ目の「食事」に着目して、自由にレシピの掲載・閲覧ができる</p>
      <p>コミュニティサイト作成しました。</p>
    </div>
  </div>
</div>