<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <p>ようこそ、hikuchikaへ！</p>
      <p>このサイトは低血圧の改善を目標にしたレシピのコミュニティサイトです。</p>
      <p>低血圧チェックリストも用意しているので、</p>
      <p>定期的に利用して改善しているかどうかの確認をしてみてください。</p>
      <p>会員でない方もレシピの閲覧はできますが、</p>
      <p>低血圧チェックには会員登録が必要になります。</p>
    </div>
  </div>
</div>