<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <p>ようこそ、hikuchikaへ！</p>
      <p>このサイトは低血圧の改善を目標にしたレシピのコミュニティサイトです。</p>
      <p>低血圧チェックリストも用意しているので、</p>
      <p>定期的に利用して改善しているかどうかの確認をしてみてください。</p>
    </div>
  </div>
</div>

<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>