<%= flash[:notice] %>

<h2>低血圧チェック結果</h2>

<h4>診断結果</h4>

<p>
  元気度
  <%= @result %>点です！
</p>



<!--0~30点の場合-->
<!--野菜スープなど、栄養と水分を補給できるものを食べましょう-->
<!--40~70点の場合-->
<!--意識して水分をとりましょう-->
<!--80~100点の場合-->
<!--この調子でバランスのいい食事を心がけましょう-->
